<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    <ion-title>Profil</ion-title></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title align=center>Biodata</ion-card-title>
        <ion-card-title> Nama : Egiene Irsandy H</ion-card-title>
        <ion-card-title> Tempat/Tgl Lahir : Bogor, 14 November 2001  </ion-card-title>
        <ion-card-title> Jenis Kelamin : Laki - laki</ion-card-title>
        <ion-card-title> Alamat : Perum Mega Sentul</ion-card-title>
        <ion-card-title> Agama : Islam </ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>

