<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    <ion-title>Keuangan</ion-title></ion-buttons>
  </ion-toolbar>     
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align=center>KEUANGAN</ion-card-subtitle>
      <ion-card-title> 250,000 	Biaya Pendaftaran Mahasiswa Baru</ion-card-title>
      <ion-card-title> 5,100,000 	Biaya DPPS Mahasiswa Baru  </ion-card-title>
      <ion-card-title> 2,200,000 	Pembayaran Ke 1</ion-card-title>
      <ion-card-title> 525,000 	Pembayaran Ke 2 (BRI) </ion-card-title>
      <ion-card-title> 525,000 	Pembayaran Ke 3 (BRI) </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card> 
</ion-content>